<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel='icon' href="/css/img/logo_mini2_final.jpg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/front.css">
    <title>Web Tech</title>
</head>
<body>
  <section class="showcase">
    <video src="/css/img/course-video.mp4" muted loop autoplay></video>
    <div class="overlay"></div>
    <div class="text">
      <h2>WEB-TECH</h2> 
      <h3>Learning makes You Better!!!</h3>
      <p>Web-Tech is an initiative taken by us to improve learning facilities.
          We aim to have better future of students in various learning areas.</p>
      <a href="/login">Explore</a>
    </div>
  </section>

</body>
</html>